body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 10px;
}

.collapse {
    text-align: center;
    font-family: "3ds Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.alpha {
    background-color: linen;
    border: 1px solid black;
}

.beta {
    border-radius: 10px;
    box-shadow: #444444 1px 1px 1px;
}