.cards-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    padding-bottom: 100px;
}

.card {
    width: 60px;
    height: 90px;
    border: 2px solid #000;
    box-shadow: 2px 2px 4px rgb(115, 31, 5);
    border-radius: 8px;
    background: rgba(244, 240, 233, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.red {
    color: red;
}

.black {
    color: black;
}
